<body>
<h1>Throwback</h1>

<td id="random"><%= image_tag @random.attachment, width: '50%' unless @random.attachment.nil? %></td></br>
<h2><%= @random.memo %></h2>

<%= button_to "Randomize", snapshot_path, method: 'get' %>

</body>
</html>
